@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$font1: 'Poppins', sans-serif;

$color-light: #ffffff;
$color-dark: #45403c;
$color-success: #28a745;
$color-alert: #dc3545;

$background1: linear-gradient(174.86deg, #FFF7E1 0%, #FEEFE0 18.75%, #FFE0E8 37.68%, #EFE6FC 57.35%, #E7E9FD 77.78%, #DEF6FD 100%);
$background2: linear-gradient(174.86deg, #DEF6FD 0%, #E7E9FD 18.75%, #EFE6FC 37.68%, #FFE0E8 57.35%, #FEEFE0 77.78%, #FFF7E1 100%);
$background3: #222222;
$background4: linear-gradient(174.49deg, #0B1D40 1.13%, #2F3C86 15.46%, #5373AA 28.81%, #8E6AB6 44.69%, #7B64B8 58.65%, #1C276F 73.91%, #2A1A6E 83.51%, #040404 95.6%);

$component-background1: rgba($color-light, 0.2);
$component-background2: linear-gradient(155deg, rgba(#ffffff, 0.25) 10%, rgba(#000000, 0.05) 60%);

$box-shadow1: 0.5rem 1.5rem 4rem rgba($color-dark, 0.3);
$box-shadow2: 0.5rem 0.5rem 2rem rgba(#000000, 0.4);

$box-shadow-hover1: 0.5rem 1.5rem 3rem rgba(#000000, 0.3);

$image-shadow1: drop-shadow(0.5rem 1.5rem 0.5rem rgba($color-dark, 0.3));
$image-shadow2: drop-shadow(0.5rem 1.5rem 0.5rem rgba($color-light, 0.3));
$image-shadow3: drop-shadow(0 0 2rem rgba(#18c2ef, 0.3));

$animation-shadow: drop-shadow(0 0 2.5rem rgba($color-dark, 0.3));
$animation-shadow2: drop-shadow(0 0 2.5rem rgba(#000000, 1));

$border1: 0.1rem solid rgba($color-light, 0.3);


* {
	box-sizing: border-box;
	font-family: $font1;
	letter-spacing: '0.02em';
	text-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	color: $color-dark;
}
